
.photosvg{
    fill: rgb(80, 146, 207);
}
.videosvg{
    fill: rgb(73, 201, 79);
}
.eventsvg{
    fill: rgb(235, 163, 8);
}
.articlesvg{
    fill: rgb(228, 111, 43);  
}
.videoInput{
    margin: 0 0 10px 0;
}
.spinner{
    display: flex;
    justify-content: center;
}